/* Large Layout: 1200px.
@media only screen and (min-width: 1200px){
.container {padding: 0;}
.container-fluid{padding: 0;}


.cta_two_btn {
    margin-left: 49px;
}



}


*/

/* Medium screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.premium-video__right {
    margin-left: 0;
}
.premium-video__img {
    margin-left: 0;
}
.premium-video {
    margin-bottom: 90px;
}      
.about-one__content {
    margin-left: 0;
}       
.our-project{
    padding-top: 90px;
}    
.our-project__content {
    padding: 20px 25px 30px;
}    
.our-project__title {
    font-size: 20px;
}    
.cta-one__inner {
    flex-direction: column;
}
.cta-one__btn-box {
    position: relative;
    display: block;
    margin-top: 30px;
}
.footer-widget__explore {
    margin-right: 0;
    margin-bottom: 30px;
}    
.why-choose-one__single {
    padding: 37.5px 15px;
}   
.why-choose-one__text-box p {
    font-size: 16px;
}    
.rules__title {
    font-size: 58px;
}        
.our-project-page{
    padding-top: 120px;
}
.about-page__left {
    margin-right: 0;
    max-width: 750px;
    margin: 0 auto;
}    
.about-page__right {
    max-width: 750px;
    margin: 50px auto 0;
}    
.three-steps__single {
    padding: 60px 24px 50px;
} 
.contact-page__left {
    margin-bottom: 50px;
}    
.contact-page__left .section-title__title {
    font-size: 45px;
    line-height: 55px;
}       
.start-order__thumb-box {
    text-align: center;
}    
.start-order__thumb-box li {
    float: none;
    margin-bottom: 20px;
}    
.start-order__thumb-box li:nth-child(3){
    margin-left: 0; 
    margin-bottom: 0px;
}       
.start-order__thumb-box li:nth-child(4){
    margin-bottom: 0px;
}       
    
}





/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.featured-one__btn-box {
    float: none;
    margin-top: 0;
    margin-bottom: 60px;
}   
.premium-video__right {
    margin-left: 0;
    margin-top: 50px;
}
.premium-video__img {
    margin-left: 0;
}
.premium-video {
    margin-bottom: 90px;
}     
.about-one__content {
    margin-left: 0;
    margin-top: 50px;
}       
.our-project{
    padding-top: 90px;
}     
.cta-one__inner {
    flex-direction: column;
    align-items: inherit;
}
.cta-one__btn-box {
    position: relative;
    display: block;
    margin-top: 30px;
}
.footer-widget__contact {
    position: relative;
    display: block;
    margin-top: 30px;
}    
.footer-widget__newsletter {
    position: relative;
    display: block;
    margin-top: 30px;
}    
.explore-pricing  .section-title__title {
    font-size: 50px;
    line-height: 60px;
}    
.explore-pricing__carousel.owl-theme .owl-nav {
    top: -115px;
}    
.why-choose-one .section-title__title {
    font-size: 55px;
    line-height: 65px;
}    
.why-choose-one__right-text-box {
    margin-top: 0;
    margin-bottom: 48px;
}    
.why-choose-one .section-title {
    margin-bottom: 36px;
}    
.rules__right {
    position: relative;
    display: block;
    margin-top: 50px;
}    
.rules {
    padding: 106px 0 231px;
}         
.why-choose-right__text-box {
    margin-bottom: 48px;
    margin-top: 0;
}           
.testimonials-one__content {
    padding: 38px 30px 41px;
}    
.our-project-page{
    padding-top: 120px;
}       
.about-page__right{
    margin-top: 50px;
}    
.contact-page__left {
    margin-bottom: 50px;
}        
.start-order__thumb-box li+li {
    margin-left: 3px;
}    
.start-order__right {
    position: relative;
    display: block;
    margin-top: 50px;
}       
    
}





/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {   
.featured-one__btn-box {
    float: none;
    margin-top: 0;
    margin-bottom: 60px;
}
.featured-one .section-title__title {
    font-size: 33px;
    line-height: 43px;
}    
.featured-one .section-title {
    margin-bottom: 50px;
}    
.featured-one__left-img-content {
    padding-left: 25px;
}
.featured-one__left-img-title {
    font-size: 20px;
    line-height: 30px;
}       
.premium-video__right {
    margin-left: 0;
    margin-top: 50px;
}
.premium-video__img {
    margin-left: 0;
}
.premium-video {
    margin-bottom: 90px;
}    
.premium-video__right .section-title__title {
    font-size: 35px;
    line-height: 45px;
}     
  
.about-one__content {
    margin-left: 0;
    margin-top: 50px;
}     
.about-one__content .section-title__title {
    font-size: 35px;
    line-height: 45px;
}    
.our-project{
    padding-top: 90px;
}     
.our-project__content {
    padding: 20px 25px 30px;
}    
.our-project__title {
    font-size: 20px;
}      
.our-project.section-title__title {
    font-size: 35px;
    line-height: 45px;
}    
.cta-one__inner {
    justify-content: inherit;
    flex-direction: column;
    align-items: inherit;
}    
.cta-one__left {
    flex-direction: column;
    align-items: baseline;
}    
.cta-one__content {
    margin-left: 0;
    padding: 9px 0 15px;
}    
.cta-one__content h2 {
    font-size: 30px;
    line-height: 40px;
}    
.cta-one__btn {
    padding: 20.5px 85px;
}    
.footer-widget__explore {
    margin-right: 0;
    margin-top: 40px;
}    
.footer-widget__contact {
    position: relative;
    display: block;
    margin-top: 30px;
}    
.footer-widget__newsletter {
    position: relative;
    display: block;
    margin-top: 15px;
}        
.explore-pricing__content {
    padding: 34px 20px 28px;
}    
.explore-pricing__details li a {
    padding: 4px 22px;
}    
.explore-pricing__title {
    font-size: 19px;
}    
.explore-pricing  .section-title__title {
    font-size: 35px;
    line-height: 45px;
}    
.explore-pricing__carousel.owl-theme .owl-nav {
    display: none;
}     
.why-choose-one .section-title__title {
    font-size: 35px;
    line-height: 45px;
}   
.why-choose-one__right-text-box {
    margin-top: 0;
    margin-bottom: 48px;
}    
.why-choose-one .section-title {
    margin-bottom: 36px;
}     
.why-choose-one__single {
    padding: 37.5px 15px;
}    
.why-choose-one__text-box p {
    font-size: 16px;
}
.rules__right {
    position: relative;
    display: block;
    margin-top: 50px;
}    
.rules {
    padding: 106px 0 231px;
}     
.rules__title {
    font-size: 30px;
    line-height: 40px;
}   
.rules__title br{
    display: none;
}    
.rules__btn {
    padding: 20.5px 85px;
}      
.types .section-title__title {
    font-size: 29px;
    line-height: 40px;
}    
.why-choose-right__text-box {
    margin-bottom: 48px;
    margin-top: 0;
}           
.testimonials-one__content {
    padding: 38px 30px 41px;
}     
.testimonials-one .section-title__title {
    font-size: 40px;
    line-height: 50px;
}    
.our-project-page{
    padding-top: 120px;
}       
.about-page__left {
    margin-right: 0;
}    
.about-page__right .section-title__title {
    font-size: 30px;
    line-height: 40px;
}    
.about-page__right {
    margin-top: 50px;
}    
.team-one .section-title__title {
    font-size: 40px;
    line-height: 50px;
}    
.three-steps__single {
    padding: 60px 24px 50px;
}  
.video-two__video-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 20px;
}    
.video-two__video-icon:before {
    top: -2px;
    right: -2px;
    bottom: -2px;
}    
.video-two__video-icon .ripple, .video-two__video-icon .ripple:before, .video-two__video-icon .ripple:after {
    width: 80px;
    height: 80px;
}    
.video-two__video-icon .ripple, .video-two__video-icon .ripple:before, .video-two__video-icon .ripple:after {
    width: 80px;
    height: 80px;
}    
.error-page__title {
    font-size: 145px;
    line-height: 155px;
}    
.error-page__tagline {
    font-size: 20px;
    line-height: 30px;
}    
.error-page {
    padding: 95px 0 120px;
}          
.contact-page__left {
    margin-bottom: 50px;
} 
.start-order-top__menu li+li {
    margin-left: 1px;
}    
.start-order__thumb-box {
    text-align: center;
}    
.start-order__thumb-box li+li {
    margin-left: 0px;
}    
.start-order__thumb-box li{
    float: none;
    margin-bottom: 20px;
}    
.start-order__thumb-box li:last-child{
    margin-bottom: 0;
}    
.start-order__features-list {
    margin-bottom: 6px;
}    
.start-order__features-list.mar-b-0 {
    margin-bottom: 0px;
}    
.start-order__location-top {
    flex-direction: column;
}    
   
.start-order__start-booking-content {
    padding: 40px 35px 50px;
}    
.start-order__start-booking-btn {
    padding: 20.5px 40px;
}    
.start-order__tag-list a {
    font-size: 12px;
    padding: 4px 12px;
}    
.start-order__reviews-single {
    flex-direction: column;
}    
.start-order__reviews-content {
    margin-left: 0;
    margin-top: 20px;
}    
.start-order__right {
    position: relative;
    display: block;
    margin-top: 50px;
}       
.start-order__share-report-favorite-btn {
    flex-direction: column;
}    
.start-order__share-report-favorite-btn a+a {
    margin-left: 0;
    margin-top: 10px;
}      
.page-header__inner h2 {
    font-size: 48px;
    line-height: 58px;
}    
    
}





@media only screen and (min-width: 1200px) and (max-width: 1582px) {
    
}




@media only screen and (min-width: 1200px) and (max-width: 1785px) {
    
   
}
    
    
    
    
    
    

/*--------------------------------------------------------------
# Slider All Responsice Css
/////////
--------------------------------------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
.banner-three__input-date {
    max-width: 345px;
}    
}    
    
    
    
    
    

@media only screen and (min-width: 768px) and (max-width: 991px) {
.main-slider h2 {
    font-size: 60px;
    line-height: 70px;
}
.main-slider .container {
    padding-top: 307px;
    padding-bottom: 337px;
}    
 
.banner-two__btn {
    margin-top: 20px;
}      
.banner-three__input {
    display: block;
    float: none;
    margin-bottom: 20px;
}    
.banner-three__input-need {
    max-width: 100%;
}
.banner-three__input:before {
    display: none;
}    
.banner-three-form .form-select {
    width: 100%!important;
    background-position: right 37.75px center;
    border-radius: var(--thm-border-radius);
}    
.banner-three__input-date {
    max-width: 100%;
}    
.banner-three__input input[type="text"] {
    border-radius: var(--thm-border-radius);
}        
}







@media only screen and (max-width: 767px) {
.main-slider__nav {
    display: none;
}  
.main-slider h2 {
    font-size: 35px;
    line-height: 45px;
}    
.main-slider h2 br{
    display: none;
}    
.main-slider p {
    font-size: 17px;
}    
.main-slider .container {
    padding-top: 202px;
}    
.banner-two__title {
    font-size: 39px;
    line-height: 49px;
}   
.banner-two__title br{
    display: none;
}    
.banner-two__input-box {
    margin-right: 0;
    margin-bottom: 20px;
}    
.banner-two__icons li {
    margin-bottom: 10px;
    flex-direction: column;
    float: none;
}    
.banner-two__icons li:last-child{
    margin-bottom: 0;
}    
.banner-two__icons li+li {
    margin-left: 0px;
}    
.banner-two__bottom-content {
    display: none;
}    
.banner-two-form {
    margin-bottom: 0px;
}       
.banner-three__input {
    display: block;
    float: none;
    margin-bottom: 20px;
}    
.banner-three__input-need {
    max-width: 100%;
}
.banner-three__input:before {
    display: none;
}    
.banner-three-form .form-select {
    width: 100%!important;
    background-position: right 37.75px center;
    border-radius: var(--thm-border-radius);
}    
.banner-three__input-date {
    max-width: 100%;
}    
.banner-three__input input[type="text"] {
    border-radius: var(--thm-border-radius);
}        
.banner-three__title {
    font-size: 38px;
    line-height: 48px;
}    
.banner-three__title br{
    display: none;
} 
.banner-three {
    padding-top: 140px;
    padding-bottom: 130px;
}    
    
        
}



@media only screen and (min-width: 1200px) and (max-width: 1450px) {
   
    
    
}

@media only screen and (min-width: 1200px) and (max-width: 1216px) {

    
}




/*--------------------------------------------------------------
# Main Menu All Responsice Css
/////////
--------------------------------------------------------------*/

@media only screen and (min-width: 1200px) and (max-width: 1270px) {
.main-menu-wrapper__logo {
    margin-right: 90px;
}
}







@media only screen and (min-width: 992px) and (max-width: 1199px) {
.main-menu .mobile-nav__toggler {
    margin-right: 0;
    padding: 38px 0;
    display: block;
}    
.main-menu-wrapper__logo {
    margin-right: 50px;
}    
.main-menu-two .mobile-nav__toggler:hover{
     color: var(--thm-black)    
}
.main-menu-two-wrapper__main-menu {
    margin-left: 50px;
}        
.main-menu-three-wrapper__logo {
    margin-right: 50px;
}    
    
}






@media only screen and (min-width: 768px) and (max-width: 991px) {
.main-header__top{
    display: none;
}    
.main-menu .mobile-nav__toggler {
    margin-right: 0;
    padding: 38px 0;
    display: block;
}    
.main-menu-wrapper__logo {
    margin-right: 50px;
}      
.main-menu-two .mobile-nav__toggler:hover{
     color: var(--thm-black)    
}
.main-menu-two-wrapper__main-menu {
    margin-left: 50px;
}   
.main-menu-three-wrapper__logo {
    margin-right: 50px;
}      
}





@media (max-width: 767px) { 
.main-header__top{
    display: none;
}  
.main-menu {
    padding: 0 30px;
}    
.main-menu-wrapper__right {
    display: none;
}    
.main-menu-wrapper__main-menu {
    float: right;
}    
.main-menu .mobile-nav__toggler {
    margin-right: 0;
    padding: 38px 0;
    display: block;
}    
.main-menu-wrapper__left {
    float: none;
}    
.main-menu-wrapper__logo {
    margin-right: 0;
}       
.main-header-two__top-inner {
    display: none;
}
.main-menu-two .mobile-nav__toggler:hover{
     color: var(--thm-black)    
}    
.main-menu-two-wrapper__right {
    display: none;
}    
.main-menu-two-wrapper__main-menu {
    float: right;
    margin-left: 0;
} 
 .main-header-three__top {
    display: none;
}   
.main-menu-three-wrapper__right {
    display: none;
}    
.main-menu-three-wrapper__logo {
    margin-right: 0px;
}    
.main-menu-three-wrapper__left {
    float: none;
}    
.main-menu-three-wrapper__main-menu {
    float: right;
}       
    
}